scipy==1.4.1
gensim==3.8.0
Keras==2.3.1
numpy==1.22.0
tqdm==4.47.0
intel_tensorflow==2.1.0
pandas==1.0.5
joblib==0.14.1
seaborn==0.10.0
tensorflow==2.2.0
lightgbm==2.3.1
networkx==2.4
munkres==1.1.2
matplotlib==3.2.0
scikit_learn==0.23.1
