gensim==3.8.0
joblib==0.14.1
tqdm==4.47.0
lightgbm==2.3.1
Keras==2.3.1
matplotlib==3.2.0
munkres==1.1.2
seaborn==0.10.0
numpy==1.18.1
networkx==2.4
pandas==1.0.5
scipy==1.4.1
tensorflow==2.2.0
intel_tensorflow==2.1.0
scikit_learn==0.23.1
